h1 {
    color: white;
}

.banner p {
    color: white;
}

.banner-container {
    margin: auto;
    width: 900px;
}

.banner {
    /* display: flex;
    justify-content: center; */
    background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('survival.jpg');
    background-size: cover;
    background-position: center;
    padding: 200px 0;
}